@charset "utf-8";
@import url();

/***************  HTML Template  ****************
Author: 何骏涛
From: 2022/04/09
End: 2022/05/30

*************  TABLE OF CONTENTS  *************
1. Fonts
2. Reset
3. Global
4. Header
5. About
6. Resume
7. Services
8. Works
9. Blog
10. Contact

***************************************************/

/*** 

====================================================================
	Fonts
====================================================================

 ***/

@font-face {
	font-family: "";
	src: url('');
}

/*** 

====================================================================
	Reset
====================================================================

 ***/

body {
	background-image: url();
	background-attachment: fixed;
	background-size: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul,
li {
	list-style-type: none;
}


footer {
	text-align: center;
}


/*** 

====================================================================
	Global
====================================================================

 ***/