@charset "utf-8";

/***************  HTML Template  ****************
Author: 何骏涛
From: 2022/10/25
End: 2022/

*************  TABLE OF CONTENTS  *************
1. Fonts
2. Reset
3. Global
4. Header
5. Main

**********************************************/

/*** 

====================================================================
	1.Fonts
====================================================================

 ***/

@import url(../css/font-awesome.css);

/*** 

====================================================================
	2.Reset
====================================================================

 ***/




/*** 

====================================================================
	3.Global
====================================================================

 ***/


* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #000;
}

.clearfix::after {
	display: block;
	content: "";
	height: 0;
	clear: both;
}

.page-width {
	width: 1400px;
	margin: 0 auto;
}

ul,
li {
	list-style: none;
}

/*** 

====================================================================
	4.header
====================================================================

 ***/
.navbar {
	width: 100%;
	height: 64px;
}

.nav-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	height: 64px;
	background: #fff;
	font-size: 14px;
	line-height: 64px;
}

.logo {
	float: left;
	width: 150px;
	height: 64px;
	margin-right: 20px;
	background-color: #fff;
}

.logo img {
	float: left;
	margin-right: 5px;
	width: 64px;
}

.logo span {
	float: left;
	font-size: 16px;
	color: #3b2927;
}

.navList-left li {
	float: left;
}

.navList-left li a {
	display: block;
	padding: 0 20px;
}

.navList-left li a:hover {
	background: #f8f8f8;
}



.popup-first {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	height: 400px;
	background: pink;
}

.popup-second {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	height: 400px;
	background: blue;
}

.navList-right a:hover,
.navList-right span:hover {
	color: #2b9af3;
}

.navList-right div {
	float: right;
	margin: 0 10px;
}

.navList-right a span {
	font-size: 20px;
	margin-right: 10px;
}

/*** 

====================================================================
	Main
====================================================================

 ***/
.root-content {
	background: #000;
}

.main-wrapper img {
	display: block;
}